
 <div class="container">
    <div class="row">
  <div class="col-md-12">

  </div>
</div>

  
  <div class="row mt-2 mb-1">
    <div class="col-md-3">
      <%= search_form_for @q, :class => "collapse", :id => "dishes_filters" do |f| %>
        <p class="lead">Narrow results:</p>
  
          <div class="form-group">
      <%= f.label :name_cont, "Name contains" %>
      <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
    </div>
    
    <div class="form-group">
      <% Cuisine.all.each do |cuisine| %>
      <label>
        <%= check_box_tag('q[cuisine_id_eq_any][]', cuisine.id, (true if @q.
        cuisine_id_eq_any.try(:include?, cuisine.id))) %>
        <%= cuisine.name %>
      </label>
      <% end %>
    </div>
  
  
        <%= f.submit :class => "btn btn-primary btn-block mb-1" %>
  
        <a href="/dishes" class="btn btn-secondary btn-block mb-1">Clear filters</a>
      <% end %>
      <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">
        Show Filters
      </a>
    </div>
    
  <div class="col-md-6">
    <div class="card">
      <table class="table table-striped table-hover">
        <tr>
          <th>The very best... </th>
          <th>is at... </th>
          <th></th>
        </tr>
  
        <% @dishes.all.each do |dish| %>
        <tr>
          <td>
            <a href="/dishes/<%= dish.id %>">
              <%= dish.name %>
            </a>
            
          </td>
          <td>
                <% if Bookmark.find_by(user_id: current_user.id, dish_id: dish.id) == nil %>
                <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="0f+ApvRWWvZ24fXX7COrRZDywTNgx2vAmGrBTATQx88+ap5m43rr7F8sulJvMb04VIKMo6ggHF6HW4B6Bb6M/Q==">


                <input type="hidden" name="dish_id" value="<%= dish.id %>">
                <input type="hidden" name="user_id" value="<%= current_user.id%>">
                <input type="hidden" name="notes" value=" ">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name, @venue.try(:id)), :class => "form-control") %>
              

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>
              
              <% else %>
              
              <a href="/venues/<%= Bookmark.order('created_at desc').where(user_id: current_user.id, dish_id: dish.id).take.venue_id %>">
                <%= Venue.find(Bookmark.order('created_at desc').where(user_id: current_user.id, dish_id: dish.id).take.venue_id).name %>
              </a>
              
              <% end %>

          </td>
          
          <td class="text-right">
            <span class="badge badge-primary">
              <%= Cuisine.find(dish.cuisine_id).name %>
            </span>
          </td>
          
 
        </tr>
        <% end %>
      </table>
      
    </div>
  </div>
  
  <div class="col-md-3">
      <a href="/venues/new" class="btn btn-block btn-success">
        Add a new venue
      </a>
    </div>
  
    
  </div>
  



